<!DOCTYPE html>
<html>
  <head>
    <meta>
    <title>YelpCamp</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/auth.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">YelpCamp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
          <% if(!currentUser) { %>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Sign Up</a>
          <% } else { %>
            <strong><a class="nav-item nav-link" href="#">Signed In As <%= currentUser.username %></a></strong>
            <a class="nav-item nav-link" href="/logout">Logout</a>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="container my-3">
      <% if (error && error.length > 0) { %>
        <div class="alert alert-danger">
          <%= error %>
        </div>
      <% } else if (success && success.length > 0) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>
    </div>
