<%- include("../partials/header") %>

<div class="container">
  <h1 style="text-align: center;">Edit comment</h1>
  <div style="width: 33%; margin: 20px auto;">
    <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
      <div class="form-group">
        <label for="comment[text]">Comment: </label>
        <input class="form-control" rows="4" cols="80" id="text" type="text" name="comment[text]" value="<%= comment.text %>" autofocus></input>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
    </form>
    <strong><a href="/campgrounds">Go back to campgrounds</a></strong>
  </div>
</div>

<%- include("../partials/footer") %>
