<%- include("../partials/header") %>



<div class="container">
  <h1 style="text-align: center;">Add a comment to <%= campground.name %></h1>
  <div style="width: 33%; margin: 20px auto;">
    <form action="/campgrounds/<%= campground._id %>/comments" method="post">
      <div class="form-group">
        <label for="comment[text]">Comment: </label>
        <textarea class="form-control" rows="4" cols="80" id="text" type="text" name="comment[text]" autofocus>Comment</textarea>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
    </form>
    <strong><a href="/campgrounds">Go back to campgrounds</a></strong>
  </div>
</div>



<%- include("../partials/footer") %>
