<%- include("partials/header") %>


<div id="auth-div">
  <h1>Login</h1>
  <div class="form-div">
    <form action="/login" method="POST">
      <div class="form-input">
        <input type="text" name="username" placeholder="username" autofocus>
      </div>
      <div class="form-input">
        <input type="password" name="password" placeholder="password">
      </div>
      <button>Login</button>
    </form>
  </div>
</div>


<%- include("partials/footer") %>
