<%- include("../partials/header") %>

<div class="container">

  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to YelpCamp</h1>
      <p>Camps for every eye</p>
      <p><strong><a href="/campgrounds/new" class="btn btn-primary btn-large">Add a New Camp</a></strong></p>
    </div>
  </header>

  <div class="row">
    <% campground.forEach((camp) => { %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div>
          <img class="img-thumbnail" src="<%= camp.image %>">
          <div class="caption">
            <h4><%= camp.name %></h4>
          </div>
          <p><a href="/campgrounds/<%= camp._id %>" class="btn btn-primary btn-block">More info</a></p>
        </div>
      </div>
    <% }); %>
  </div>
</div>
<%- include("../partials/footer") %>
