<%- include("../partials/header") %>



<div class="container">
  <h1 style="text-align: center;">Create new campground</h1>
  <div style="width: 33%; margin: 20px auto;">
    <form action="/campgrounds" method="post">
      <div class="form-group">
        <label for="name">Camp Name: </label>
        <input class="form-control" id="name" type="text" name="name" placeholder="name" autofocus>
      </div>
      <div class="form-group">
        <label for="price">Price: </label>
        <input class="form-control" id="price" type="number" name="price" placeholder="price" min="0.01" step="0.01">
      </div>
      <div class="form-group">
        <label for="image">Image Url: </label>
        <input class="form-control" id="image" type="text" name="image" placeholder="image url">
      </div>
      <div class="form-group">
        <label for="desc">Description: </label>
        <input class="form-control" id="desc" type="textarea" name="description" placeholder="description">
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
    </form>
    <strong><a href="/campgrounds">Go back to campgrounds</a></strong>
  </div>
</div>



<%- include("../partials/footer") %>
