<%- include("../partials/header") %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead"> YelpCamp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
      <!-- map -->
    </div>
    <div class="col-md-9">
      <div>
        <img class="img-thumbnail" src="<%= campground.image %>" alt="<%= campground.name %>">
        <div class="p-2">
          <h4 class="float-right"><%= campground.price %>$/night</h4>
          <h4><a href=""><%= campground.name %></a></h4>
          <p><%= campground.description %></p>
          <p>
            <em>Created by <%= campground.author.username %></em>
          </p>
          <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
            <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
            <form id="deleteForm" action="/campgrounds/<%= campground._id %>/?_method=DELETE" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
          <%  } %>
        </div>
      </div>
      <div class="card card-body bg-light">
        <div class="text-right">
          <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">New Comment</a>
        </div>
        <hr class="style1">
        <% campground.comments.forEach(function(comment) { %>
          <div class="row">
            <div class="col-md-12">
              <strong><%= comment.author.username %></strong>
              <span class="float-right">10 days ago</span>
              <p><%= comment.text %></p>
              <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                <a class="btn btn-warning"
                  href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                  Edit
                </a>
                <form id="deleteForm" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Delete</button>
                </form>
              <% } %>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>







<%- include("../partials/footer") %>
