#auth-div {
  position: relative;
  text-align: center;
  padding-top: 10vh;
  margin: auto;
}
#auth-div h1 {
  font-size: 3rem;
}
#auth-div .form-div {
  width: 30%;
  margin: 25px auto;
}
#auth-div .form-input{
  margin: 10px auto;
}
#auth-div .form-input input {
  padding: 5px;
  width: 100%;
}
#auth-div .form-div button{
  padding: 10px;
  width: 100%;
  color: #fff;
  background: #007bff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
@media (max-width: 767px) {
  #auth-div .form-div {
    width: 50%;
    margin: 25px auto;
  }
}
